header{
    width: 1000px;
    height: 450px;
    padding: 0 12px;
    /*display: -webkit-box;*/
    /*-webkit-box-pack: start;*/
    /*box-sizing: border-box;*/
    border-top: 12px #33333b solid;
    background-color: #181818;
    background: -webkit-radial-gradient(57% 72%,#646568 -3px, #181818 551px);
}

.logo,
.watch-all-screens,
.soc-networks-wrapper{
    display: inline-block;
}

.logo{
    width: 263px;
    height: 98px;
    margin-bottom: 20px;
    border-radius: 0 0 15px 15px;
    background-color: #33333b;
    background-image: url("../assets/images/catLogo.png"), url("../assets/images/textLogo.png");
    background-repeat: no-repeat;
    background-position: 14px 3px, 101px 28px;

}
.watch-all-screens{
    width: 145px;
    height: 60px;
    margin: 40px 0 0 45px;
    background-image: url("../assets/images/arrow.png");
    background-repeat: no-repeat;
    background-position: right 13px;
    font: 28px/27px mBroody;
    color: #626570;
}
.soc-networks-wrapper{
    float: right;
    width: 387px;
    height: 70px;
    margin: 42px 28px 0 0;
    display: -webkit-box;
    -webkit-box-pack: justify;
}

.soc-networks-wrapper::after{
    content: '';
    clear:both;
}

.soc-networks-wrapper li{
    /*float: left;*/
    width: 60px;
    height: 60px;
    /*margin-right: 5px;*/
    border-radius: 50%;
    background-color: #33333b;
    background-image: url("../assets/images/twitter.png");
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: 1px 3px 1px 0px #202023;
}
.soc-networks-wrapper li:nth-child(2){
    background-image: url("../assets/images/facebook.png");
}
.soc-networks-wrapper li:nth-child(3){
    background-image: url("../assets/images/mail.png");
}
.soc-networks-wrapper li:nth-child(4){
    background-image: url("../assets/images/vk.png");
}

.app-scary-histories{
    width: 350px;
    height: 165px;
    margin: 55px 0 0 0px;
    background: url('../assets/images/app-icon.png')top left no-repeat;
}
.app-scary-histories h1{
    font: 44px/46px RobotoCondenced;
    color: #d0a22b;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin-left: 100px;
}
.app-scary-histories .accessibility{
    position: relative;
    margin-top: 10px;
    font: 17px PTSans;
    color: #525051;
}
.app-scary-histories .accessibility::before,
.app-scary-histories .accessibility::after{
    content: "";
    display: inline-block;
    position: relative;
    top: -4px;
    margin: 1px 4px 1px 4px;
    width: 60px;
    height: 1px;
    border-top: 1px solid #1a1b21;
    background: #525152;
}
.app-scary-histories .tease{
    font: 18px PTSans;
    color: #bcbaab;
    margin-top: 14px;
}


.download{
    width: 240px;
    height: 310px;
}

.full-version,
.light-version{
    width: 235px;
    height: 70px;
    border: 2px solid;
    border-radius: 10px;
    font: 34px MyriadProSemibold;
}
.full-version{
    border-color: #edb47a;
    background:  -webkit-linear-gradient(top, #b48a13 0%, #e8d97d 100%);
    box-shadow: 0 3px 2px -1px #9a7920;
}
.light-version{
    border-color: #d0cbbd;
    background:  -webkit-linear-gradient(top, #999486 0%, #c8c4bc 100%);
    box-shadow: 0 3px 2px -1px #968d73;
}

.btn-content-wrapper{
    width: 100%;
    height: 100%;
    background: #b58c14;
    -webkit-mask: url("../assets/images/download-btn-bg.png") no-repeat;
    -webkit-mask-size: 28px 50px;
}

section{
    width: 1000px;
    height: 1150px;
    padding: 0 12px;
    /*background: red;*/
}
nav {
    width: 100px;
    height: 50px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
footer{
    width: 1000px;
    height: 260px;
    padding:0 12px;
    background-color: #181818;
}


