@media all and (min-width: 1024px) {


header{
    width: 1000px;
    height: 450px;
    padding: 0 12px;
    box-sizing: border-box;
    border-top: 12px #33333b solid;
    background-color: #181818;
    background: -webkit-radial-gradient(57% 72%,#646568 -3px, #181818 551px);
    margin-bottom: -295px;
}

.logo,
.soc-networks-wrapper{
    display: inline-block;
}

.logo{
    width: 263px;
    height: 98px;
    /* margin-bottom: 20px; */
    border-radius: 0 0 15px 15px;
    background-color: #33333b;
    background-image: url("../assets/images/catLogo.png"), url("../assets/images/textLogo.png");
    background-repeat: no-repeat;
    background-position: 14px 3px, 101px 28px;

}
.watch-all-screens{
    width: 145px;
    height: 60px;
    margin: 40px 0 0 45px;
    background-image: url("../assets/images/arrow.png");
    background-repeat: no-repeat;
    background-position: right 13px;
    font: 28px/27px mBroody;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    color: #626570;
}
.soc-networks-wrapper{
    float: right;
    width: 387px;
    height: 70px;
    margin: 35px 28px 0 0;
    /* top: 9px; */
    display: flex;
    /*flex-direction: row;*/
    justify-content:space-around;
    align-items: justify;
    flex-wrap: wrap;
    /*display: -webkit-box;*/
    /*-webkit-box-pack: justify;*/
    vertical-align: top;
}

.soc-networks-wrapper::after{
    content: '';
    clear:both;
}

.soc-networks-wrapper li{
    /*float: left;*/
    width: 60px;
    height: 60px;
    /*margin-right: 5px;*/
    border-radius: 50%;
    background-color: #33333b;
    background-image: url("../assets/images/twitter.png");
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: 1px 3px 1px 0px #202023;
}
.soc-networks-wrapper li:nth-child(2){
    background-image: url("../assets/images/facebook.png");
}
.soc-networks-wrapper li:nth-child(3){
    background-image: url("../assets/images/mail.png");
}
.soc-networks-wrapper li:nth-child(4){
    background-image: url("../assets/images/vk.png");
}

.app-scary-histories{
    width: 350px;
    height: 165px;
    margin: 85px 0 0 0;
    background: url('../assets/images/app-icon.png')top left no-repeat;
}
.app-scary-histories h1{
    font: 44px/46px RobotoCondenced;
    color: #d0a22b;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin-left: 100px;
}
.app-scary-histories .accessibility{
    position: relative;
    margin-top: 10px;
    font: 17px PTSans;
    color: #525051;
}
.app-scary-histories .accessibility::before,
.app-scary-histories .accessibility::after{
    content: "";
    display: inline-block;
    position: relative;
    top: -4px;
    margin: 1px 4px 1px 4px;
    width: 60px;
    height: 1px;
    border-top: 1px solid #1a1b21;
    background: #525152;
}
.app-scary-histories .tease{
    font: 18px PTSans;
    color: #bcbaab;
    margin-top: 14px;
}

.download,
.screens,
.iphone,
.ipad{
    display: inline-block;
}

.download{
    width: 240px;
    height: 310px;
    margin-top: 366px;
    margin-right: 60px;
    /* margin-bottom: 54px; */
    font: 18px/30px PTSans;
    font-weight: bold;
    color:#9b9488;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
}
.full-version,
.light-version{
    width: 235px;
    height: 70px;
    margin: 10px 0 15px 0;
    padding: 0 10px;
    text-align: left;
    border: 2px solid;
    border-radius: 10px;
    font: 34px/20px MyriadPro;
    font-weight: 600;
    outline: none;
}
.full-version span:nth-child(2),
.light-version span:nth-child(2){
    font-size: 16px;
    font-weight: 400;
}
.full-version{
    border-color: #edb47a;
    background:  -webkit-linear-gradient(top, #b48a13 0%, #e8d97d 100%);
    box-shadow: 0 3px 2px -1px #9a7920;
    color: #b58c14;
}
.light-version{
    border-color: #d0cbbd;
    background:  -webkit-linear-gradient(top, #999486 0%, #c8c4bc 100%);
    box-shadow: 0 3px 2px -1px #968d73;
    color: #9b9488;
}
.btn-content-wrapper{
    width: 28px;
    height: 50px;
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 6px;
    background: #b58c14;
    -webkit-mask: url("../assets/images/download-btn-bg.png") no-repeat;
    -webkit-mask-size: 28px 50px;
}
.light-version .btn-content-wrapper{
    background: #9b9488;
}

.full-version:hover .btn-content-wrapper{
    background: #9b9488;
}
.full-version:hover span{
    color: #9b9488;
}

.light-version:hover .btn-content-wrapper{
    background: #b58c14;
}
.light-version:hover span{
    color: #b58c14;
}
.or{
    font: 17px mBroody;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); */
}
.or::before,
.or::after{
    content: "";
    display: inline-block;
    position: relative;
    top: -4px;
    margin: -2px 6px 1px 6px;
    width: 95px;
    height: 1px;
    background: #d7d7d7;
}

section{
    width: 1000px;
    height: 1150px;
    padding: 0 12px;
   
}

.screens{
    width: 670px;
    height: 770px;
    margin: 0px 0 0 0;
    box-sizing: border-box;
}

.iphone{
    width: 230px;
    height: 520px;
    position: relative;
    box-sizing: border-box;
    margin: -470px 0 0px 0;
    padding: 0 45px;
    /* background-color: lightgreen; */
    background-image: url("../assets/images/iPhoneContent.jpg"), url("../assets/images/iPhoneFrame.png");
    background-repeat: no-repeat;
    background-position: center 70px, center top;
}
.slider-previous,
.slider-next{
    width: 36px;
    height: 36px;
    margin-top: 430px;
    box-sizing: border-box;
    outline: none;
    border-radius: 18px;
    border: 2px solid #403f3f;
    background-color: #2b2b29;
    background-image: url("../assets/images/sliderArrowLeft.png");
    background-repeat: no-repeat;
    background-position: 9px 7px;
}
.slider-next{
    -webkit-transform: rotateY(180deg);
    margin-left: 64px;
}
.slider-dots{
    width: 150px;
    height: 40px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #85837d;
    float: left;
    margin: 30px 7px;
}
.dot.active{
    background-color: #33333b;
}

.ipad{
    width: 520px;
    height: 720px;
    position: relative;
    box-sizing: border-box;
    margin-left: 140px;
    margin-bottom: -22px;
    padding: 0 190px;
    /* background-color: lightgreen; */
    background-image: url("../assets/images/iPadContent.jpg"), url("../assets/images/iPadFrame.png");
    background-repeat: no-repeat;
    background-position: center 60px, center top;
}
.ipad .slider-previous,
.ipad .slider-next{
    margin-top: 623px;
}
.ipad .slider-dots{
    margin-left: 0;
}
.ipad:before{
    content: "Посмотрите'\nвсе скриншоти";
    width: 145px;
    height: 60px;
    display: block;
    position: absolute;
    top: -70px;
    left: -150px;
    background-image: url("../assets/images/arrow.png");
    background-repeat: no-repeat;
    background-position: right 13px;
    font: 28px/27px mBroody;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    color: #626570;
}
nav {
    width: 980px;
    height: 250px;
    /*-webkit-box-shadow: 0 8px 6px -6px black;*/
    /*-moz-box-shadow: 0 8px 6px -6px black;*/
    /*box-shadow: 0 8px 6px -6px black;*/
    /* box-shadow:0 1px 4px rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: space-around;
    position: relative;
}
    nav:after{
        content: "";
        position: absolute;
        /* z-index: -1; */
        top: 100%;
        bottom: 0;
        width: 100%;
        height: 10px;
        left: 0%;
        right: -10%;
        background: -webkit-radial-gradient(50% 0%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 78%);
    }
footer{
    width: 1000px;
    height: 260px;
    padding:0 12px;
    background-color: #181818;
}
.nav-item{
    width: 195px;
    height: 190px;
    background-image: url("../assets/images/roundedArrow.png");
    background-repeat: no-repeat;
        background-position: 50% 0;
    text-align: center;
}
.nav-item:nth-child(2){
    background-image: url("../assets/images/vote.png");
}
.nav-item:nth-child(3){
    background-image: url("../assets/images/histories.png");
}
.nav-item:nth-child(4){
    background-image: url("../assets/images/moreHistories.png");
}
.nav-item:nth-child(5){
    background-image: url("../assets/images/reader.png");
}
/*li{*/
    /*position: relative;*/
/*}*/
/*ul{*/
    /*display: flex;*/
    /*align-items: justify;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    /*justify-content:space-around;*/
    /*flex-wrap: wrap;*/
    /*display: -webkit-box;*/
    /*-webkit-box-pack: justify;*/
    /*vertical-align: top;*/
}
/*nav li:before{*/
    /*content: "";*/
    /*width: 190px;*/
    /*height: 190px;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 10px;*/
    /*background-image: url("../assets/images/roundedArrow.png");*/
    /*background-repeat: no-repeat;*/
/*}*/
h2{
    font: 32px RobotoCondenced;
    color: #525051;
    margin-top: 70px;



}
a{
    text-decoration: none;
    font: 20px RobotoCondenced;
    color: #85837d;

}
}